body{
    background-color: white;
}

.header__page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__page > h4 {
    font-family: 'playfair';
    color: rgb(51, 55, 139);
}

tr {
    color: brown;
}

#reporte {
    background-color: brown;
}


